@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

html, body {
  background-color: #0D0D0D;
}
/* Golden Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0D0D0D;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #D4AF37, #b48a28);
  border-radius: 10px;
  border: 2px solid #0D0D0D;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #e1c15a, #D4AF37);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #D4AF37 #0D0D0D;
}
